<section>
	<h2>商品新規登録</h2>
    <%= form_for(@item, url: admin_items_path) do |f| %>
	<div>
		<div>
			<%= f.label :image, "画像" %>
			<div class="image_field">
				<%= image_tag (@item.image.attached? ? item.image : 'no-image.png') %>
				<span class="btn btn-file btn-info"><%= f.file_field :image,  accept:'image/*' %>画像選択</span>
			</div>
		</div>
		<table>
			<thead>
				<tr>
					<th></th>	
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= f.label :name, "タイトル" %></td>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<td><%= f.label :introduction, "説明文" %></td>
					<td><%= f.text_area :introduction, rows: 3 %></td>
				</tr>
				<tr>
					<td><%= f.label :genre_id, "ジャンル" %></td>
					<td class="select_field"><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
				</tr>
				<tr>
					<td><%= f.label :price, "税抜価格" %></td>
					<td><%= f.number_field :price %> 円</td>
				</tr>
				<tr>
					<td><%= f.label :sales_status, "販売ステータス" %></td>
					<td class="select_field">
						<%= f.radio_button :is_active, true %>
						<%= f.label :is_active, "販売中", class: "text-active" %>
						<%= f.radio_button :is_active, false %>
						<%= f.label :is_active, "販売停止中", class: "text-invalid" %>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="flex align-center pl5">
			<%= f.submit "登録", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>
</section>