<div>
		<h3>ジャンル新規登録</h3>
  	<%= form_for(@genre, url: url) do |f| %>
	<%= f.label :name, "ジャンル名:" %>
	<%= f.text_field :name %>
	<%= f.radio_button :is_active, true %>
	<%= f.label :is_active, "有効", class: "text-active" %>
	<%= f.radio_button :is_active, false %>
	<%= f.label :is_active, "無効", class: "text-invalid" %>
	<%= f.submit submit, class: "btn btn-primary ml2" %>
<% end %>
	</div>
	<div>
		<h3>ジャンル一覧</h3>
		<table>
			<thead>
				<tr>
					<th>ジャンル名</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @genres.each do |genre| %>
					<tr>
						<td>genre.name</td>
						<td class="text-center"><%= link_to "編集", edit_admin_genre_path(genre), class: "btn btn-success" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>