   <% if @customer.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: @customer.errors.count,
                 resource: @customer.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
    <%= form_with model: @customer, url: customer_registration_path do |f| %>
    
    <table>
      <thead>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>名前</td>
          <td><%= f.label :first_name%> <%= f.text_field :first_name %></td>
          <td><%= f.label :last_name%> <%= f.text_field :last_name%></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= f.label :first_name_kana%> <%= f.text_field :first_name_kana%></td>
          <td><%= f.label :last_name_kana%> <%= f.text_field :last_name_kana%></td>
        </tr>
        <tr>
          <td><%= f.label :email%></td>
          <td colspan="2"><%= f.email_field :email%></td>
        </tr>
        <tr>
          <td><%= f.label :postal_code%></td>
          <td colspan="2"><%= f.text_field :postal_code%></td>
        </tr>
        <tr>
          <td><%= f.label :address%></td>
          <td colspan="2"><%= f.text_field :address %></td>
        </tr>
        <tr>
          <td><%= f.label :telephone_number%></td>
          <td colspan="2"><%= f.text_field :telephone_number%></td>
        </tr>
        <tr>
          <td><%= f.label :password%></td>
          <td colspan="2"><%= f.password_field :password%></td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation%></td>
          <td colspan="2"><%= f.password_field :password_confirmation%></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2"><%= f.submit "新規登録"%></td>
        </tr>
      </tbody>
    </table>
  
<% end %>