<section>
	<div>
		<h3>ジャンル一覧</h3>
		<% @genres.each do |genre| %>
			<%= link_to genre.name, items_path(genre_id: genre.id) %>
		<% end %>
	</div>
	<div>
		<% if params[:genre_id] %>
			<h2><%= @genre.name %>の商品一覧 (全<%= @all_items_count %>件)</h2>
		<% else %>
			<h2>商品一覧 (全<%= @all_items_count %>件)</h2>
		<% end %>
		<% if @items.first %> <!-- @item.existsと同義、SQL1個分削減(?) -->
			<div>
				<% @items.each do |item| %>
					<%= link_to item_path(item) do %>
						<%= image_tag item.get_image, format: "jpeg", fallback: "no-image.png" %>
						<h5><%= item.genre.name %></h5>
						<p><%= item.name %></p>
						<p>
							<%= item.with_tax_price %>円 
							<% if item.is_active? %>
								<span>販売中</span>
							<% else %>
								<span>販売停止中</span>
							<% end %>
						</p>
					<% end %>
				<% end %>
			</div>
			
		<% else %>
			<h3>対応する商品はありませんでした。</h3>
		<% end %>
	</div>
</section>