<div>   
    <%= image_tag @item.get_image, format: "jpeg", fallback: "no-image.png" %>
	<p><%= @item.name %></p>
	<p><%= @item.introduction %></p>
	<p>
		<%= @item.with_tax_price %>円 
	</p><br>
	<% if customer_signed_in? %>
		<% cart_item = current_customer.has_in_cart(@item) %>
		<% if cart_item %>
			<%= form_for [@item, cart_item] do |f| %>
				<p>こちらの商品は、既にカートに入っています。</p>
				<%= f.select :amount, [*(1..10)] %>
				<%= f.submit "数量変更", class: "btn btn-primary" %>
			<% end %>
		<% elsif @item.is_active? %>
			<%= form_for [@item, @cart_item] do |f| %>
				<p>数量を選択して下さい。</p>
				<%= f.select :amount, [*(1..10)], {selected: 1} %>
				<%= f.submit "カートに入れる", class: "btn btn-primary" %>
			<% end %>
		<% else %>
			<p class="bold">こちらの商品は、現在販売停止中です。</p>
		<% end %>
	<% else %>
		<p>カート機能をご利用いただくには、<br><%= link_to "こちら", new_customer_registration_path, class: "underline" %>から新規登録を行なってください。</p>
	<% end %>
</div>